# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ontology
*.properties
core-ontology.rdf
core-ontology.ttl

#Python
__pycache__
.venv

#Environment
out
**/temp/
*.env
*-credentials.json
